<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.onest.timestoryprj">

    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.problem.ProblemClooectionInfoActivity"></activity>
        <activity
            android:name=".dialog.DialogExampleAvtivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.dynasty.DynastyIntroduceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.problem.ProblemInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.card.DrawCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.problem.LinkLineTextActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.problem.ProblemCollectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.card.ShowCardStoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dialog.dynasty.EventDialogActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.dynasty.DetailsEventActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.problem.SelectProblemTypeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.dynasty.HomepageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.user.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.user.RegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.user.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.card.SpectficCardDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.card.SpecificDynastyCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.card.MyCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.user.UserCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.onest.timestoryprj.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1111252578" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>